/**------------------Formatação em Geral ----------------------*/
*{
   margin: 0;
   padding: 0;
   
}

h1, h2, h3{
    margin: 0;
    font-family: Poppins;
    font-size: 30px;
    text-align: center;
    }



p{
    font-size: 72px;
    text-align: center;
  
}
p#letreiro::after{
    content: '|';
    margin-left: 5px;
    opacity: 1;
    animation: pisca 0.6s infinite ;

}
/**------------------Formatação Cabeçalho ----------------------*/

body{
    font-family: Yomogi, cursive;
    
    
}

header{
    margin-top: 0;
    position: fixed;
    width: 100%;
    
  
}



/**------------------Formatação NAV ----------------------*/

nav{
    display: flex;
    flex-direction: column;
    align-items: center;    
    background: white;
}

nav ul{
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; 
}
nav.azul{
    color: black; 
   
}



nav ul li{
   text-align: center;
   width: 100%;
 background: white;
   
}

nav ul li a{
  display: inline-block;
  padding: 0px;
  font-family: Poppins;
  font-size: 14px;  
  width: 100%;
  text-decoration: none;
  color: black;
  
  
  
  
}



@media screen and (min-width: 768px){

    nav{
        flex-direction: row;
        justify-content: space-around;
        background: white;
    }
    
    nav ul {
        flex-direction: row;
        width: 70%;

    }

}

@keyframes pisca{
    100%{
       opacity: 1;
    }50%{
        opacity: 0;
    }
}


.letreirobemvindo{   
    margin-top: -35%;
    text-align: center;
    font-size: 206px;
    animation: faderBemVindo 3.3s 0s both;
    color: white;   
}

#text-block-bem-vinddo img{    
    width: 100%;
    margin-top: 8%;

}

h1.tiratitulo{    
    margin-top: -23%;
    font-size: 206px;
    text-align: center;    
    color: white;  
}


.letreiroTriplice{  
    margin-top: -23%;
    font-size: 206px;
    text-align: center;     
    animation: faderTriplice 6s 0s normal;
    color: white;
    
}

@keyframes faderBemVindo{
    from{
opacity: 1;
    }
    to{
opacity: 0;
    }
}

@keyframes faderTriplice{
    0%{
opacity: 0;
    }
    50%{
opacity: 0.01;
    }
    100%{
                opacity: 1;
            }
}

@keyframes faderBemVindoEtriplice{
    from{
opacity: 1;
    }
    to{
opacity: 0;
    }
}

footer{
   margin-bottom: 0%;
    color: yellow;
}

#servico_web{
margin-top: 10%;
}



