
/*------ Iniciando a pagina com as configurações zeradas ----------------------- **/
*{
    margin: 0;
    padding: 0;

}

/*-------------------------------- Cor fundo tela login------------------------- **/

body{
   
}
/*-------------------------------- Cor fundo tela login------------------------- **/

body#sigin{
    background: window;
}

/*------Componentes da tela de login, input email, input senha------------------ **/

input{
    display: block; 
    height: 50px;
    width: 580px;
    margin: 10px;
    border-radius: 16px;
    font-size: 16pt;
    padding: 4px; 
    outline: 0;
    border: 1px solid #1d0b95;

}

/*-------------------------------- Corpo do formulario para cadastrar usuario--- **/

div#corpo-form{ 
    border-radius: 7px;
    background-color: activeborder;
    width: 420px;
    margin: 150px auto 0px auto;
    padding: 10px;
}

/*-------------------------------- Custom lado esquerdo tela login ------------- **/

div#tela_login_lado_esquerdo{
    width: 366px;
    margin: 40%;
    margin-left: -5%;

}

/*-------------------------------- Custom texto -Entrar- tela login ------------ **/

img#imagem_texto_entrar_sigin{ 
    padding: 10px;

}

/*-------------------------------- Custom lado direito tela login -------------- **/

div#tela_login_lado_direito{
    margin: 30%;
    margin-left: -9%; 
    width: 600px;
    padding: 10px;
    text-align:  center;
    border-radius: 30px;
    display: block;
    box-shadow: 10px 10px 10px #1d0b95;
}

/*-------------------------------- Custom botão para logar --------------------- **/

input#botaologar{
    background: #1d0b95;
    color: window;
    width: 590px;
}

/*-------------- Custom botão logar quando o cursor passar por cima ------------ **/

#botaologar:hover{
    background: #2100ff;
    cursor: pointer;

}

/*-------------- Custom imagens icons ------------ **/


    
    div#cabeçalho_adminPage{
        flex-direction: row;
        justify-content: space-around;
    }



div#imgboostrap{
    margin: 2%;
    
}



nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}

nav ul{
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

nav ul li{
    text-align: center;
    width: 100%;
    
}

@media screen and (min-width: 768px){
    
    nav{
        flex-direction: row;
        justify-content: space-around;
        
    }
    
     nav ul{
        flex-direction: row;
        justify-content: space-around;
       
    }
}

